{% extends 'base.html.twig' %}

{% block title %}Rayon Noir | Accueil{% endblock %}

{% block body %}

    {% block header %}
        {{ parent() }}
    {% endblock %}


    {% block main %}
        <section class="intro mb-3">
        </section>

        <div class="container">
            <h1 class="text-primary mb-3">Envie de frissons ? Vous êtes au bon endroit</h1>

            <h2>Variables définies dans services.yaml</h2>


            <section>
                <div>
                    <p>Test</p>
                    <p>Test</p>
                    <p>Test</p>
                    <p>Test</p>
                </div>
            </section>

            <ul class="font-monospace">
                <li>app.some_number : {{ some_number }}</li>
                <li>app.discount : {{ current_discount }}</li>
                <li>multiple.name : {{ multiple.name }}</li>
                <li>multiple.city : {{ multiple.city }}</li>
            </ul>

            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Recusandae similique aliquam quaerat nihil
                dolor suscipit tenetur. Ducimus reprehenderit repellat repellendus magnam facere porro, cupiditate totam
                assumenda vero saepe omnis a.
                Quasi asperiores facilis quisquam molestiae nostrum sequi eaque itaque atque dicta provident quas
                delectus hic quos fugit rerum, fugiat unde, animi laborum excepturi! Alias aspernatur itaque, doloribus
                quae ullam corporis!
                Tenetur animi possimus, rem voluptatem nostrum ducimus beatae magnam similique voluptates, nam neque
                eius aliquid nulla optio esse laborum quos aut sapiente. Quod saepe neque autem tempora iste, aut
                eligendi.</p>
        </div>

        <a href="{{ path('home_new') }}">Voir les nouveautés</a>
        </div>
    {% endblock %}


    {% block footer %}
        {{ parent() }}
    {% endblock %}

{% endblock %}
