{% extends 'base.html.twig' %}

{% block javascripts %}
  {# gets the default scripts from 'base.html.twig' #}
  {{ parent() }}
  
  {# inserts a page-specific script 'new.js' #}
  {{ encore_entry_script_tags('new') }}
{% endblock %}

{% block title %}Rayon Noir | Nouveautés{% endblock %}

{% block body %}

  {% block header %}
    {{ parent() }}
  {% endblock %}


  {% block main %}
    <div class="container">
      <h1>Les dernières sorties</h1>
      <img class="hero__image" src="{{ asset('images/lampadaire.jpg') }}" alt="">

      <ul>
        <li>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit</p>
        </li>
        <li>
          <p>Ipsum dolor sit</p>
        </li>
        <li>
          <p>Elit amet consectetur adipisicing</p>
        </li>
      </ul>
    </div>
  {% endblock %}


  {% block footer %}
    {{ parent() }}
  {% endblock %}

{% endblock %}
