<section class="site-nav bg-success py-3">
  <div class="container">
    <div class="row">
      <div class="col">
        <nav class="site-nav d-flex">
          <a class="d-block btn btn-outline-secondary" href="{{ path('home_catalog') }}">Catalogue</a>
          <a class="d-block btn btn-outline-secondary" href="{{ path('home_new') }}">Nouveautés</a>
          <a class="d-block btn btn-outline-secondary" href="{{ path('home_classic') }}">Classiques</a>
          <a class="d-block btn btn-outline-secondary" href="{{ path('home_thriller') }}">Thriller</a>
          <a class="d-block btn btn-outline-secondary ms-auto" href="{{ path('admin_index') }}">Admin</a>
        </nav>
      </div>
    </div>
  </div>
</section>